In [1]:
# verify using the correct environment
import sys
print(sys.executable)

/Users/mikayla/wallet-wisdom/env-tf/bin/python

In [2]:
# dependecies
import pandas as pd
from tabgan.sampler import GANGenerator
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [3]:
data = pd.read_csv('personalFinanceDataset.csv')

In [4]:
data = data.drop(['Unnamed: 0'], axis=1)
data = data.drop(['medicalDebt'], axis=1)
data = data.drop(['gaming'], axis=1)
data.head()

,age,gender,raceEthnicity,education,region,householdType,householdSize,career,workArrangement,annualIncome,...,totalExpenses,totalSavingsInvestments,monthlyCashFlow,housingRatio,debtToIncome,savingsInvestmentsRate,carPaymentRatio,monthsSaved,financialHealth,ageCategory
0,35,Female,White,High School,South,DINKS,2,Retail,Office,30741.640000,...,5368.49,143.09,-2949.78,66.32,1.33,5.59,0.00,1.17,FinanciallyDistressed,30-35
1,65,Female,Black/African American,High School,South,Single,1,Retired,Retired,61059.581194,...,5258.28,0.00,-169.98,25.51,25.51,0.00,13.95,0.07,FinanciallyDistressed,60-65
2,50,Male,Other/Multiracial,Bachelor's,Midwest,SingleParent,3,Healthcare,Office,57575.730000,...,6578.61,0.00,-1780.63,37.63,11.88,0.00,8.04,0.93,FinanciallyDistressed,45-50
3,40,Female,White,Bachelor's,West,Single,1,Sales,Office,96389.510000,...,7676.07,954.95,-598.56,28.46,14.87,11.89,11.36,1.17,FinanciallyStable,35-40
4,30,Male,Black/African American,Some College/Associate's,Midwest,SmallFamily,4,Service,Office,30245.270000,...,7640.68,254.91,-5375.15,57.12,27.03,10.11,15.16,1.37,FinanciallyDistressed,25-30

In [5]:
targetColumn = 'financialHealth'
x = data.drop(columns=[targetColumn])
featureNames = x.columns
y = data[targetColumn]

In [6]:
catCols = data.select_dtypes(include=['object', 'boolean']).columns.tolist()
numCols = data.select_dtypes(include=['number']).columns.tolist()

In [7]:
scaler = StandardScaler()

In [8]:
# split
xtrain, xval, ytrain, yval = train_test_split(x, y, test_size=0.2, random_state=42)
xtrain[numCols] = scaler.fit_transform(xtrain[numCols])
xval[numCols] = scaler.transform(xval[numCols])

In [9]:
gan = GANGenerator(
    gen_params = {'batch_size': 500, 'epochs': 300, 'patience': 10},
    cat_cols = catCols
).generate_data_pipe(
    train_df=xtrain,
    target=ytrain.to_frame(targetColumn),
    test_df=xval,
    deep_copy=True,
    only_generated_data=True
)

Fitting CTGAN transformers for each column:   0%|          | 0/67 [00:00<?, ?it/s]

Training CTGAN, epochs::   0%|          | 0/300 [00:00<?, ?it/s]

ValueError: Too few samples (<10) after filtering column musicStreaming. Test data may be skewed. Filter range: [-0.9522452491251779, 1.4936660244856594]