In [1]:
# verify using the correct environment
import sys
print(sys.executable)

/Users/mikayla/wallet-wisdom/env-tf/bin/python

In [2]:
# dependecies
import pandas as pd
import numpy as np
from ctgan import CTGAN
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [3]:
data = pd.read_csv('personalFinanceDataset.csv')

In [4]:
data = data.drop(['Unnamed: 0'], axis=1)
data.head()

,age,gender,raceEthnicity,education,region,householdType,householdSize,career,workArrangement,annualIncome,...,totalExpenses,totalSavingsInvestments,monthlyCashFlow,housingRatio,debtToIncome,savingsInvestmentsRate,carPaymentRatio,monthsSaved,financialHealth,ageCategory
0,35,Female,White,High School,South,DINKS,2,Retail,Office,30741.640000,...,5368.49,143.09,-2949.78,66.32,1.33,5.59,0.00,1.17,FinanciallyDistressed,30-35
1,65,Female,Black/African American,High School,South,Single,1,Retired,Retired,61059.581194,...,5258.28,0.00,-169.98,25.51,25.51,0.00,13.95,0.07,FinanciallyDistressed,60-65
2,50,Male,Other/Multiracial,Bachelor's,Midwest,SingleParent,3,Healthcare,Office,57575.730000,...,6578.61,0.00,-1780.63,37.63,11.88,0.00,8.04,0.93,FinanciallyDistressed,45-50
3,40,Female,White,Bachelor's,West,Single,1,Sales,Office,96389.510000,...,7676.07,954.95,-598.56,28.46,14.87,11.89,11.36,1.17,FinanciallyStable,35-40
4,30,Male,Black/African American,Some College/Associate's,Midwest,SmallFamily,4,Service,Office,30245.270000,...,7640.68,254.91,-5375.15,57.12,27.03,10.11,15.16,1.37,FinanciallyDistressed,25-30

In [5]:
catCols = data.select_dtypes(include=['object', 'boolean']).columns.tolist()

In [6]:
ctgan = CTGAN(epochs=10)
ctgan.fit(data, catCols)

In [7]:
# create synthetic data
synData = ctgan.sample(3500)

In [8]:
synData.head()

,age,gender,raceEthnicity,education,region,householdType,householdSize,career,workArrangement,annualIncome,...,totalExpenses,totalSavingsInvestments,monthlyCashFlow,housingRatio,debtToIncome,savingsInvestmentsRate,carPaymentRatio,monthsSaved,financialHealth,ageCategory
0,31,Male,White,Bachelor's,South,Other,2,Retail,Office,20735.784791,...,5259.036875,1508.348715,279.594411,40.005986,20.203418,13.300729,-0.272846,2.038898,FinanciallyVulnerable,25-30
1,50,Female,Asian,High School,Midwest,DINKS,3,Healthcare,Office,88419.040967,...,4681.839130,2282.909017,92.799302,21.504035,36.983144,7.923803,0.224076,2.528271,FinanciallyDistressed,35-40
2,42,Male,White,Some College/Associate's,South,Roommates,2,Retail,Hybrid,29440.539611,...,7318.791074,55.342397,-1785.654438,109.752385,3.077163,8.880924,0.580108,1.524849,FinanciallyVulnerable,30-35
3,25,Male,White,Some College/Associate's,Midwest,SingleParent,1,Manufacturing,Hybrid,51488.705675,...,7646.014288,290.585052,-448.049187,15.944974,11.747448,14.177564,0.507766,3.610195,FinanciallyThriving,40-45
4,61,Female,Black/African American,Bachelor's,South,Other,4,Business,Office,33798.920912,...,6783.682666,2561.448598,-790.128703,14.964838,3.109067,14.420531,0.482580,2.131422,FinanciallyVulnerable,60-65

In [9]:
synData.to_csv('synData.csv', index=False)